.logo {
  height: 7rem;
  margin: 0 auto;
  padding: 1rem;
  pointer-events: none;
}

.container {
  background: rgba(161,153,151, 0.8);
}

.overlay {
  background: rgba(230, 219, 217, 0.8);
}

.view {
  margin: 0 auto;
  padding: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
